<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="post">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" name="id" id="id" class="form-control" placeholder="ID">
        </div>
        <div class="form-group">
            <label for="pw">PW</label>
            <input type="text" name="pw" id="pw" class="form-control" placeholder="PASSWORD">
        </div>
        <button type="submit" class="btn">Login</button>
    </form>
</body>
</html>