@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

html,body {
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-family: "Pretendard", sans-serif;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: fit-content;

    padding: 5px 0;
    margin-bottom: 10px;
}

.form-group input {
    width: 240px;
    height: 30px;

    padding: 3px 5px;
    margin-left: 20px;
}

.form-group label {
    width: 50px;

    font-size: medium;
}

button.btn {
    background-color: transparent;

    border: 1px solid #000;
    border-radius: 5px;

    padding: 7px 10px;
}